# 启用幽灵依赖检测
strict-peer-dependencies=false
shamefully-hoist=false

# 安装性能优化
prefer-frozen-lockfile=true
enable-pre-post-scripts=true

# 设置注册表
registry=https://registry.npmmirror.com

# 使用国内镜像加速下载
ELECTRON_MIRROR=https://cdn.npmmirror.com/binaries/electron/
ELECTRON_BUILDER_BINARIES_MIRROR=https://cdn.npmmirror.com/binaries/electron-builder-binaries/

# 自动安装peer dependencies
auto-install-peers=true
